html, body, .grid {
    height: 100%;
    padding: 0;
}

.grid {
    display: grid;
    align-items: stretch;
    grid-template-rows: 20px 0.5fr 26px 0px 26px 1fr 0;
}

.horizontal-gutter {
    grid-area: 4 / 1 / 4 / 1;
    border: solid 1px black;
    border: 0;
    background-color: #3C3F41;
    height: 0;
}