@media (prefers-color-scheme: dark) {

}

html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px; }
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464; }
::-webkit-scrollbar-track-piece { background-color: #000; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }

* {
    overflow: hidden;
}
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 10px;
}

.query_controls, .result_controls, .title {
    font-size: 12px;
    background-color: #3C3F41;
    padding: 2px;
}

.title {
    padding: 3px;
}

.editor {
    height:100%;
    width:100%;
}

* {
    scrollbar-color: dark;
}

#query, #results, results_table {
    width:100%
    padding-bottom: 4px;
}

.result_controls {
    text-align: right;
}

button, input[type=submit], select {
    font-size: 13px;
	border-radius: 3px;
	border: 0;
	background-color: #162040;
	color: white;
	margin: 2px;
}

button:hover {
	filter: brightness(75%);
}

.play {
	background-color: #4C8F2B;
	background-color: green;
	color: white;
}

.action {
    width: 45px;
    padding: 3px 2px 3px 3px;
	background-color: #00000000;
}

.action:hover {
	background-color: #00000022;
}

.action div {
    float: left;
    width: 50%;
    font-size: 8px;
    margin-left: 0px;
    margin-bottom: -9px;
    color: orange;
    height: 20px;
    margin-left: -5px;
}

.action div:first-child {
    margin-left: -3px;
}

.action:after {
    content: "";
    display: table;
    clear: both;
}
