/*Theme the Tabulator element*/
.tabulator {
    background-color:black;
    border: 0;
    border-radius: 0;
}

.tabulator, .tabulator-header {
    background-color: black;
    border: 0;
}

.tabulator-col *, .tabulator-col-content * {
    padding: 0;
}

/*Theme the header*/
.tabulator-header * {
    background-color:black;
    color:#FEF433;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content,
#results_table .tabulator-header .tabulator-col {
    padding: 0 important!;
}

.tabulator-header {
    min-height: 8px;
}


/*Allow column header names to wrap lines*/
.tabulator-header .tabulator-col,
.tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color even rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row *,
.tabulator-header .tabulator-col,
.tabulator .tabulator-headers {
    border: 0;
    border-left: 1px solid #444444;
}

.tabulator, .tabulator-header {
    background-color: black;
    border: 10px;
}

.tabulator-tableHolder .tabulator-table .tabulator-row {
    min-height: 8px;
}

.tabulator-tableHolder {
    border: 0;
    background-color: black;
}

/*Color the table rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row {
    color: #80D500;
    background-color: black;
}

/*Color even rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: black;
}

.tabulator-cell {
    padding: 1px 5px 0 5px;
}

.tabulator-cell:first-child {
    color: #4682B4;
    background-color: #1A0005;
    text-align: right;
    padding-right: 7px;
    width: 54px;
}

/* FIXES horizontal scroll bar and scrolling issue */
.tabulator-cell, .tabulator-col tabulator-sortable
{
    max-width: 100%;
}

/* FIXES stupid/inconsistent extra borders */
.tabulator .tabulator-header .tabulator-col,
 .tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 0;
    background: none;
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 0;
}

.tabulator-row .tabulator-frozen.tabulator-frozen-left,
.tabulator-cell tabulator-frozen tabulator-frozen-left,
.tabulator-header .tabulator-col:first-child,
.tabulator .tabulator-headers:first-child {
    border-left: 0;
}

/* FIXED */