/*Theme the Tabulator element*/
#results_table .tabulator {
    background-color:black;
    border: 0;
    border-radius: 0;
}

.tabulator, .tabulator-header {
    background-color: black;
    border: 0;
}

/*.tabulator .tabulator-header .tabulator-col */

.tabulator-col *, .tabulator-col-content * {
    padding: 0;
}

/*Theme the header*/
#results_table .tabulator-header * {
    background-color:black;
    color:#FEF433;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content,
#results_table .tabulator-header .tabulator-col {
    padding: 0 important!;
}

.tabulator-header {
    min-height: 8px;
}


/*Allow column header names to wrap lines*/
#results_table .tabulator-header .tabulator-col,
#results_table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color even rows*/
#results_table .tabulator-tableHolder .tabulator-table .tabulator-row *,
#results_table .tabulator-header .tabulator-col,
#results_table .tabulator .tabulator-headers {
    border: 0;
    border-left: 1px solid #444444;
}

.tabulator, .tabulator-header {
    background-color: black;
    border: 10px;
}

#results_table .tabulator-tableHolder .tabulator-table .tabulator-row {
    min-height: 8px;
}

#results_table .tabulator-tableHolder {
    border: 0;
    background-color: black;
}

/*Color the table rows*/
#results_table .tabulator-tableHolder .tabulator-table .tabulator-row {
    color: #80D500;
    background-color: black;
}

/*Color even rows*/
    #results_table .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: black;
}

#results_table .tabulator-cell {
    padding: 1px 5px 0 5px;
}

#results_table .tabulator-cell:first-child {
    color: #4682B4;
    background-color: #1A0005;
    text-align: right;
    padding-right: 7px;
    width: 54px;
}